<section class="row">
    <div class="col-4">
        <form onsubmit="app.JotController.createJot()">
            <label for="name">Name your Jot</label>
            <input class="form-input mb-3" type="text" name="name" id="name" minlength="3" maxlength="15">
            <label for="color">Assign your Jot a color</label>
            <select class="form-select mb-3" name="color" id="color" aria-label="default select example">
                <option selected>Choose a color theme</option>
                <option value="#FF4136">Red</option>
                <option value="#FF851B">Orange</option>
                <option value="#FFDC00">Yellow</option>
                <option value="#2ECC40">Green</option>
                <option value="#0074D9">Blue</option>
                <option value="#4b0082">Indigo</option>
                <option value="#B10DC9">Violet</option>
            </select>
            <label for="tag">Tag your Jot</label>
            <input class="form-input mb-3" type="text" name="tag" id="tag">
            <button type="submit" class="btn btn-danger">Create</button>
        </form>
    </div>
</section>